html {
	max-height: 320px;
}

body {
	margin: 0px 12px 0px 12px;
	min-width: 264px;
	width: 264px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html, body, #content {
  height: 100%;
}

#header {
	width: 264px;
	background-color: white;
	position: fixed;
	top: 0;
	z-index: 999;
}
#header h3 {
	font-size: 30px;
}
#header-divider {
	margin: 4px 0 -1px 0;
}

#title {
	margin: 
}

#content:before {
  	content: "";
 	display: block;
 	height: 40px; 
}
#content:after {
  	content: "";
  	display: block;
  	height: 40px; 
}
#content {
	margin: 4px 0 4px 0;
  	min-height: 100%;
}

.ui.image.box {
	height: 81px;
	width: 81px;
	margin: 2px;
}
.ui.tiny img, .ui.tiny svg {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	max-height: 100%;
	max-width: 100%;
}
.dimmable {
	z-index: 1;
}


#footer {
	width: 264px;
	background-color: white;
	position: fixed;
	bottom: 0;
	z-index: 999;
}
#footer-divider {
	margin: 0 0 4px 0;
}

#link-type {
	margin: 0 4px 4px 4px;
}
.ui.radio.checkbox .box, .ui.radio.checkbox label {
	font-size: 0.95rem;
}
.ui.form .inline.fields .field {
	padding: 0 0.5em 0 0;
}